<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Инициативы</title>
    <meta charset="utf-8" />
</head>
<body>

<input type="text" name="title"/><button type="button" name="search">Найти</button>

<table id="table">

</table>
<div id="pager"></div>

<script type="text/template" id="tpl-previews">
    <![CDATA[
    <% _.each(previews, function(preview) { %>
    <tr>
        <td> <a href="<%- preview.url %>" target="_blank"><%- preview.title %></a></td>
        <td> <%- preview.voices %></td>
    </tr>
    <% }); %>
    ]]>
</script>

<script type="text/template" id="tpl-pager">
    <![CDATA[
    <%
        if (pages > 1) {
            if (page > 0) {
    %>
    <a href="javascript:void(0)" class="page" data-page="<%- (page-1) %>">&lt;</a>
    <%
            }
            var lastValidPage = -1;
            var pageNumbers = [0, page-2, page-1, page, page+1, page+2, pages-1];
            _.each(pageNumbers, function(p) {
                if (p > lastValidPage && p < pages) {
                    if (p > lastValidPage + 1) {
    %>
    <span>&nbsp;...&nbsp;</span>
    <%
                    }
                    if (p == page) {
    %>
    <a><%- (p + 1) %></a>
    <%
                    } else {
    %>
    <a href="javascript:void(0)" class="page" data-page="<%- p %>"><%- (p + 1) %></a>
    <%
                    }
                    lastValidPage = p;
                }
            });
            if (page < pages - 1) {
    %>
    <a href="javascript:void(0)" class="page" data-page="<%- (page+1) %>">&gt;</a>
    <%
            }
        }
    %>
    ]]>
</script>

<script type="text/javascript" th:src="@{/js/jquery-1.12.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/underscore-1.8.3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/roiwatcher.js}"></script>
<script type="text/javascript">

    APP_URLS = {
        'previews': '[[@{/api/previews}]]'
    };

    $(initIndexPage);
</script>

</body>
</html>
